<ion-view view-title="Forgot Password" hide-nav-bar="">
<ion-content  class="padding splash">
<div style="margin-top:50px">

</div>


<div class="list">

     
 <div class="row">
            <ion-md-input placeholder="Enter User ID" highlight-color="balanced" type="text" ng-model="helper.userid"></ion-md-input>
            </div>
 <div class="row">
            <ion-md-input placeholder="Enter Email Address" highlight-color="energized"  ng-model="helper.email"></ion-md-input>
</div>
</div>

<div class="padding">
  <a ng-click="sendhelp()" class="button button-full button-assertive ink"> Submit </a>
  <a href="#/login" class="button button-full button-assertive ink"> Login Page </a>

</div>

</ion-content>
</ion-view>
