<ion-view view-title="Reset Password" hide-nav-bar="">
<ion-content  class="padding splash">
<div style="margin-top:50px">

</div>


<div class="list">

     
 <div class="row">
            <ion-md-input placeholder="New Password" highlight-color="balanced" type="text" ng-model="helper.password1"></ion-md-input>
            </div>
 <div class="row">
            <ion-md-input placeholder="Retype Password" highlight-color="energized" type="password" ng-model="helper.password2"></ion-md-input>
</div>
</div>

<div class="padding">
  <a ng-click="sendhelp()" class="button button-full button-assertive ink"> Reset </a>
  <a href="#/login" class="button button-full button-assertive ink"> Login Page </a>

</div>

</ion-content>
</ion-view>
