<ion-content>
       <!-- <div ng-include src="'http://www.jolugbo.com'"></div> -->
<style>
		iframe {
		width:100%;
		height:100%;

		  -moz-border-radius: 12px;
		  -webkit-border-radius: 12px;
		  border-radius: 12px;
		  margin-top: 20px;
		  margin-bottom: 30px;

		  -moz-box-shadow: 4px 4px 14px #000;
		  -webkit-box-shadow: 4px 4px 14px #000;
		  box-shadow: 4px 4px 14px #000;


		  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);
		}
</style>
       <iframe src="http://www.boardmembers.com.ng/"></iframe>
    </ion-content>