<style>

.imgdiv {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
  /*  margin-bottom: -5px;
    margin-right: -5px;*/
}
</style>
<ion-view cache-view="false" view-title="Transactions Details">

<ion-content class="padding bgset">

<div>
  <h2 class="title" style="color:white">{{Holder}} {{transType == 'R'? 'Reward': transType == 'A'? 'Points' : transType == 'V'? 'Vouchers': 'Vouchers'}}</h2>
      
     <div class="list card " ng-repeat="reportData in transById" style="border-color: green">

      <div class="item item-avatar">
      <img src="img/subMerchantIcon.png" />
     <!--  <h2>{{reportData.transType == 'R'? 'Reward':'Point'}} Transaction </h2> -->
        <h2><b> {{reportData.transType == 'R'? 'Amount Redeemed':transType == 'A'? 'Points Accrued' : transType == 'V'? '': ''}}</b></h2>
       {{reportData.transType == 'R'? '&#8358;':''}} {{reportData.transAmount | currency : ""}}
      <h3>Date : {{reportData.transDate  | date:"MM/dd/yyyy 'at' h:mma"}} </h3>
     </div>

</div>


 
   
</div>
</ion-content>
</ion-view>
